<?xml version="1.0" encoding="UTF-8"?>
<!--

    (c) Copyright 2024-2024, Agence du Numérique en Santé (ANS) (https://esante.gouv.fr). All rights reserved.

-->
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
    <logger name="fr.gouv.ans.psc.example.esante.proxy" level="debug" />
    <logger name="fr.gouv.ans.psc.example.esante.proxytest.UnitTestMarker" level="debug" />
</configuration>
